<a href="https://colab.research.google.com/github/siwakornnn/data_viz/blob/main/Function_Loob_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def function_name(_Input_)   :
     do_something with _Input_ to get _Output

In [ ]:
def print_name(surname,ID,name):
     st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
     return st

In [ ]:
print_name('แตงอ่อน','603021840-5','ศิวกร')

'ชื่อ ศิวกร นามสกุล แตงอ่อน รหัส 603021840-5'

In [ ]:
def print_name2(surname,ID,name):
     st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
     return st

In [ ]:
print_name2(name = 'ศิวกร' ,surname = 'แตงอ่อน' ,ID = '603021840-5')

'ชื่อ ศิวกร นามสกุล แตงอ่อน รหัส 603021840-5'

In [ ]:
def Pi():
  return 3.14159265359

In [ ]:
Pi()*(2**2)

12.56637061436

In [ ]:
def print_2line_default(name,surname,ID,grade='F'):
     st1 = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
     print(st1)
     st2 = f'เกรดวิชา Datd Viz >>> {grade}'
     print(st2)

In [ ]:
print_2line_default('ศิวกร','แตงอ่อน','603021840-5')

ชื่อ ศิวกร นามสกุล แตงอ่อน รหัส 603021840-5
เกรดวิชา Datd Viz >>> F

In [ ]:
for i in [1,2,3]:
     o = i**2
     print(f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [2]:
for i in 'siwakorn':  #สั่งให้ปริ้นแบบเว้นบรรทัด
  print(f'{i} -> /')

s -> /
i -> /
w -> /
a -> /
k -> /
o -> /
r -> /
n -> /

In [3]:
for i in 'siwakorn':   #สั่งให้ print แบบไม่เว้นบรรทัด
  print(f'{i} -> /  ', end = ',')

s -> /  ,i -> /  ,w -> /  ,a -> /  ,k -> /  ,o -> /  ,r -> /  ,n -> /  ,

In [4]:
for i in 'siwakorn':
    print(f'{i}->/',end= ' ' ) #สั่งให้ print แบบไม่เว้นบรรทัด

s->/ i->/ w->/ a->/ k->/ o->/ r->/ n->/

สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [6]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [8]:
for i in range(100) :
  print('ไนท์',end ='')

ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์ไนท์

In [9]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

loop in loop
สามารถใช้ for loob ซ้อนกันสองรอบได้

In [11]:
for name1 in range(2,5): #loop นี้วิ่ง(2, 3, 4)
    print(f'no name1 = {name1}')
    for name2 in range(1,13):
        print(name1,' x ',name2, ' = ',name1*name2)
    print('the inner loop is end')

no name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
no name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
no name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

loop in fuction

In [19]:
def print_feelings (I, friends, feeling = 'งุ้ยย'):
    for friend in  friends :
      print (f' {I} {feeling} {friend}')

In [20]:
list_friends = ['แทน', 'วี','บอส','เอ','นัด','เกม']

In [21]:
print_feelings (' ไนท์ ' ,list_friends)

  ไนท์  งุ้ยย แทน
  ไนท์  งุ้ยย วี
  ไนท์  งุ้ยย บอส
  ไนท์  งุ้ยย เอ
  ไนท์  งุ้ยย นัด
  ไนท์  งุ้ยย เกม

In [22]:
print (list_friends)

['แทน', 'วี', 'บอส', 'เอ', 'นัด', 'เกม']

In [24]:
for name1 in list_friends:
  for name2 in list_friends:
    if name1 == name2: 
      print(name1, 'งุ้ยย',name2)

แทน งุ้ยย แทน
วี งุ้ยย วี
บอส งุ้ยย บอส
เอ งุ้ยย เอ
นัด งุ้ยย นัด
เกม งุ้ยย เกม

In [25]:
for name1 in list_friends:
  for name2 in list_friends:
    if name1 != name2: 
      print(name1, 'งุ้ยย',name2)

แทน งุ้ยย วี
แทน งุ้ยย บอส
แทน งุ้ยย เอ
แทน งุ้ยย นัด
แทน งุ้ยย เกม
วี งุ้ยย แทน
วี งุ้ยย บอส
วี งุ้ยย เอ
วี งุ้ยย นัด
วี งุ้ยย เกม
บอส งุ้ยย แทน
บอส งุ้ยย วี
บอส งุ้ยย เอ
บอส งุ้ยย นัด
บอส งุ้ยย เกม
เอ งุ้ยย แทน
เอ งุ้ยย วี
เอ งุ้ยย บอส
เอ งุ้ยย นัด
เอ งุ้ยย เกม
นัด งุ้ยย แทน
นัด งุ้ยย วี
นัด งุ้ยย บอส
นัด งุ้ยย เอ
นัด งุ้ยย เกม
เกม งุ้ยย แทน
เกม งุ้ยย วี
เกม งุ้ยย บอส
เกม งุ้ยย เอ
เกม งุ้ยย นัด

== (เท่ากับ),!= (ไท่เท่ากับ),<= ,>= ,< ,>

In [26]:
' เบส ' == ' ต้า '

False

In [27]:
' เบส ' != ' ต้า '

True

# condition คือ เงื่อนไขหรือประโยคเงื่อนไข

# Homework4

In [28]:
def grade (score):
  if 0 <= score < 50 :
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น F ' )
  elif 50 <= score< 55:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น D ' )
  elif 55 <= score< 60:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น D+ ' )
  elif 60 <= score< 65:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น C' )
  elif 65 <= score<70:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น C+' ) 
  elif 70 <= score<75:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น B  ' )  
  elif 75 <= score<80:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น B+  ' )  
  elif 80 <= score<100:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น A  ' )  
  else:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น error ')

In [29]:
list_Grade = [1,50,65,90,101,-5,49]
list_Grade

[1, 50, 65, 90, 101, -5, 49]

In [31]:
for i in list_Grade :
    grade (i)

ได้คะแนนเท่ากับ 1 คะแนน เกรดจะเป็น F
ได้คะแนนเท่ากับ 50 คะแนน เกรดจะเป็น D
ได้คะแนนเท่ากับ 65 คะแนน เกรดจะเป็น C+
ได้คะแนนเท่ากับ 90 คะแนน เกรดจะเป็น A
ได้คะแนนเท่ากับ 101 คะแนน เกรดจะเป็น error
ได้คะแนนเท่ากับ -5 คะแนน เกรดจะเป็น error
ได้คะแนนเท่ากับ 49 คะแนน เกรดจะเป็น F