<a href="https://colab.research.google.com/github/siwakornnn/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = "/content/drive/My Drive/dataviz_2021_data"

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [7]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [8]:
data_covid = pd.read_csv(covid_file_path, encoding='utf-8')
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

###.isnull()?? None??

In [12]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

.any() เอาค่าความจริงในแต่ละ column มา or กัน

In [13]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

.all() เอาค่าความจริงในแต่ละ column มา and กัน

In [14]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [15]:
data_covid.iloc[0,0].isnull()

AttributeError: ignored

In [16]:
data_covid.iloc['No.'][0].isnull()

TypeError: ignored

In [17]:
data_covid.iloc[0,0]

1

In [18]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

HW สร้างตารางใหม่ ที่ค่าใน sex เป็น missing ทั้งหมด
*   ต่อตารางแกน x แกน y
*   .groupby
*   save table

In [ ]:
dataMYissn = pd.concay[datakk,datams]

In [ ]:
dataMS = data_covid[data_covid]['pro']

ต่อแกน x


*   จับ 2 ตารางมาต่อกันเลย
*   เลือกมาเพิ่มเฉพาะบาง column

In [19]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [20]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12418  12419  28.0  หญิง    Thailand
12419  12420  27.0  หญิง    Thailand
12420  12421  10.0   ชาย    Thailand
12421  12422  52.0   ชาย    Thailand
12422  12423  51.0   ชาย    Thailand

[12423 rows x 4 columns]

แบบง่าย รู้ว่าสองตาราง record ตรงกัน

In [22]:
full_table1 = data_human.merge(data_province)
full_table1.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

sort

In [23]:
data_human2 = data_human.sort_values('age')
data_human2

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
6477    6478  0.11  หญิง    Thailand
11497  11498  0.11   ชาย       Burma
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12405  12406   NaN   NaN         NaN
12406  12407   NaN   NaN         NaN
12407  12408   NaN   NaN         NaN
12408  12409   NaN   NaN         NaN
12409  12410   NaN   NaN         NaN

[12423 rows x 4 columns]

In [24]:
full_table2 = data_human2.merge(data_province)
full_table2

         No.   age   sex nationality announce_date province_of_onset
0       1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1       6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2      11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3       1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4       1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี
...      ...   ...   ...         ...           ...               ...
12418  12406   NaN   NaN         NaN     1/18/2021               NaN
12419  12407   NaN   NaN         NaN     1/18/2021               NaN
12420  12408   NaN   NaN         NaN     1/18/2021               NaN
12421  12409   NaN   NaN         NaN     1/18/2021               NaN
12422  12410   NaN   NaN         NaN     1/18/2021               NaN

[12423 rows x 6 columns]

In [29]:
data_human2_rename = data_human2.rename(column={'No.':'patientNumber'})
data_human2_rename.head()

TypeError: ignored

In [28]:
full_table3 = data_human2_rename.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

NameError: ignored

In [ ]:
full_table3 = data_human2_rename.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()